<html>
<title>BUSHUB</title>
<head>
<script type="text/javascript" src="JS/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="JS/BUS_FINAL.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/BUS_FINAL.css">
</head>

<body>
	<h1>select a seat<br></h1>
	<p1>   
	<div>
		hello everyone
		<button id="ok"> ok </button>
	</div> 
	</p1>
	<p2>
	<h2> select a seat</h2>
	<div class="busDisplay">
	<ul id="busgrid">
     
	</ul>
</div>
	</p2>

</body>
</html>